<div class="container p-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header fw-bold custom-header text-white text-center p-2 fs-3">Pixly</div>
        <div class="card-body">
          <h4 class="text-start fw-medium mb-3">Two-Factor Authentication</h4>
          <p class="text-center m-0 small">
            Verification code has been sent to your mail
          </p>
          <p class="text-justify small text-secondary">Please check your inbox or SMS and enter the verification code below to verify your identity. The code will expire in 15 minutes.</p>

          <form [formGroup]="frmVerify2FA" (submit)="submitVerificationCode()">
            <!-- Verification Code Inputs -->
            <div class="d-flex gap-2 mb-3 justify-content-center">
              <input
                *ngFor="let control of verificationCodeControls; let i = index"
                formControlName="{{'code' + i}}"
                type="text"
                maxlength="1"
                class="form-control text-center"
                style="width: 3rem;"
                (input)="moveToNextInput($event, i)"
                #inputField
              />
            </div>

            <!-- Error Messages -->
            <div *ngIf="errorMessage" class="alert alert-danger p-2">
              <span class="small">{{ errorMessage }}</span>
            </div>

            <div *ngIf="resendErrorMessage" class="alert alert-danger p-2">
              <span class="small">{{ resendErrorMessage }}</span>
            </div>

            <div *ngIf="resendSuccessMessage" class="alert alert-success p-2">
              <span class="small">{{ resendSuccessMessage }}</span>
            </div>
            
            <!-- Submit Button -->
            <div class="mb-3">
              <button [disabled]="frmVerify2FA.invalid || isLoading" type="submit" class="w-100 fw-bold p-2">
                <span class="text-white" *ngIf="!isLoading">Verify</span>
                <div *ngIf="isLoading" class="spinner-border spinner-border-sm text-light" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
            </div>

            <!-- Resend Code -->
            <div class="text-center small">
              <p class="text-center mt-3">
                Didn't receive the code? <a class="pixly" (click)="resendCode()">Resend Code</a>
              </p>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
