<!-- NavBar -->
<app-nav-bar/>

<div class="container">
  <h1 class="text-center mb-5">Profile settings</h1>
  
  <!-- Profile Picture -->
  <div class="row mb-5 align-items-center">
    <div class="col-md-6 text-center text-md-end">
      <img [src]="profileImgUrl || 'assets/img/big_user_dflt.png'" alt="Profile Image" class="rounded-circle img-fluid profile-img">
    </div>
    <div class="col-md-6 text-center">
      <button class="bg-warning text-white w-75 w-md-75 mb-3" (click)="fileInput.click()">Change image</button>
      <button class="bg-secondary text-white w-75 w-md-75" (click)="deleteImage()">Delete image</button>
      <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none" />
    </div>
  </div>

  <form [formGroup]="editProfileForm" (ngSubmit)="saveProfile()">
    <div class="row g-4">
      <div class="col-md-6">
        <label for="firstName" class="form-label">First name <span class="text-danger">*</span></label>
        <input 
          type="text" 
          class="form-control text-dark-emphasis"
          [ngClass]="{'is-invalid': editProfileForm.controls['firstName'].invalid && (editProfileForm.controls['firstName'].touched || editProfileForm.controls['firstName'].dirty)} "  
          formControlName="firstName"
        />
        <div class="invalid-feedback">
          <span *ngIf="editProfileForm.controls['firstName'].hasError('required')">Required!</span>
          <span *ngIf="editProfileForm.controls['firstName'].hasError('minlength')">Minimum 2 characters</span>
          <span *ngIf="editProfileForm.controls['firstName'].hasError('maxlength')">Limited to 20 characters</span>
        </div>
      </div>

      <div class="col-md-6">
        <label for="lastName" class="form-label">Last name <span class="text-danger">*</span></label>
        <input 
          type="text" 
          class="form-control text-dark-emphasis" 
          [ngClass]="{'is-invalid': editProfileForm.controls['lastName'].invalid && (editProfileForm.controls['lastName'].touched || editProfileForm.controls['lastName'].dirty)} "
          formControlName="lastName" 
          />
          <div class="invalid-feedback">
            <span *ngIf="editProfileForm.controls['lastName'].hasError('required')">Required!</span>
            <span *ngIf="editProfileForm.controls['lastName'].hasError('minlength')">Minimum 2 characters</span>
            <span *ngIf="editProfileForm.controls['lastName'].hasError('maxlength')">Limited to 20 characters</span>
          </div>
      </div>
    </div>
    <p class="form-text mt-1 mb-3 text-body-tertiary">We’d like people to use real names in a community, so people would know who’s who.</p>

    <div class="row g-4">
      <div class="col-md-6">
        <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control text-dark-emphasis" id="email" formControlName="email" placeholder="Enter your email" [disabled]="isEmailDisabled">
      </div>

      <div class="col-md-6">
        <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
        <input 
          type="text" 
          class="form-control text-dark-emphasis"  
          formControlName="username"
          [ngClass]="{'is-invalid': editProfileForm.controls['username'].invalid && (editProfileForm.controls['username'].touched || editProfileForm.controls['username'].dirty) || usernameError}" 
          placeholder="Enter your username" 
          />
          <div class="invalid-feedback">
            <span *ngIf="editProfileForm.controls['username'].hasError('required')">Required!</span>
            <span *ngIf="editProfileForm.controls['username'].hasError('minlength')">Minimum 5 characters</span>
            <span *ngIf="editProfileForm.controls['username'].hasError('maxlength')">Limited to 20 characters</span>
            <span *ngIf="usernameError">{{ usernameError }}</span>
          </div>
        <p class="form-text mt-1 mb-4 text-body-tertiary">Note that this username will be public.</p>
      </div>
    </div>

    <div class="col-md-12 text-center mt-3 mb-5">
      <button class="text-white w-50 mb-3" type="submit" [disabled]="editProfileForm.invalid || editProfileForm.pristine || isLoading">
        <span class="text-white" *ngIf="!isLoading">Save Profile</span>
                <div *ngIf="isLoading" class="spinner-border spinner-border-sm text-light" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
      </button>
    </div>

    <div class="container my-5">
      <h2 class="mb-3">Additional settings</h2>
      <div class="mb-2"><a href="#" class="text-danger text-decoration-none fw-bold">Change password</a></div>
      <div><a href="#" class="text-danger text-decoration-none fw-bold">Remove account</a></div>
    </div>
  </form>
</div>


