.container {
  max-width: 600px;
  margin-top: 100px;
}

form .form-label {
  font-weight: bold;
}

form .form-text {
  color: gray;
  font-size: 0.9rem;
}

button
{
  background-color: var(--pixly-color);
}

button:hover
{
  background-color: var(--pixly-color-hover);
}

.text-light2
{
  color: #bfbfbf;
}



