<div class="container">
  <h1 class="text-center mb-5">Profile settings</h1>
  
  <!-- Profile Picture -->
  <div class="row mb-5 align-items-center">
    <div class="col-md-6 text-center text-md-end">
      <img src="assets/img/big_user_dflt.png" alt="Profile Image" class="rounded-circle img-fluid" style="max-width: 150px;">
    </div>
    <div class="col-md-6 text-center">
      <button class="bg-warning text-white w-75 w-md-75 mb-3">Change image</button>
      <button class="bg-secondary text-white w-75 w-md-75">Delete image</button>
    </div>
  </div>

  <form>
    <div class="row g-4">
      <div class="col-md-6">
        <label for="firstName" class="form-label">First name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
      </div>
    </div>
    <p class="form-text mt-1 mb-3 text-body-tertiary">We’d like people to use real names in a community, so people would know who’s who.</p>

    <div class="row g-4">
      <div class="col-md-6">
        <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email">
      </div>
      <div class="col-md-6">
        <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="username" placeholder="Enter your username">
      </div>
    </div>
    <p class="form-text mt-1 mb-4 text-body-tertiary">Note that this email will be public.</p>

    <div class="col-md-12 text-center mt-3 mb-5">
      <button class="text-white w-50 mb-3">Save Profile</button>
    </div>

    <div class="container my-5">
      <h2 class="mb-3">Additional settings</h2>
        <div class="mb-2"><a href="#" class="text-danger text-decoration-none fw-bold">Change password</a></div>
        <div><a href="#" class="text-danger text-decoration-none fw-bold">Remove account</a></div>
    </div>
  </form>
</div>
