<div class="footer">
    <div class="container">
        <div class="row one">
            <div class="logo">
                <img src="assets/img/logo.png" width="50px" height="75px" alt=""> 
                <h2>Pixly</h2>
            </div>
           <select name="language" id="">
               <option value="english">English</option>
               <option value="spanish">Bosnian</option>
           </select>
        </div>
        <div class="row two">
            <h6>PIXLY</h6>
            <ul>
                <li>About us</li>
                <li>Leaderboard</li>
                <li>Popular Searches</li>
                <li>Pricing</li>
                <li>License</li>
            </ul>
        </div>
        <div class="row three">
           <h6>Popular categories</h6>
           <div class="categories">
            <button>Family</button>
            <button>Animals</button>
            <button>Technology</button>
            <button>People</button>
            <button>Business</button>
            <button>Food</button>
            <button>Health</button>
            <button>Travel</button>
            <button>Art</button>
            <button>Music</button>
            <button>Nature</button>
            <button>Science</button>
           </div> 
        </div>
    </div>
</div>
