<div class="container">
    <app-navigation></app-navigation>
    <div class="users-list" *ngIf="users$ | async as users">
        <div class="user" *ngFor="let user of users">
            <img [src]="user.profileImgUrl ? user.profileImgUrl : 'assets/img/big_user_dflt.png'" alt="">
            <span>{{user.firstName}} {{user.lastName}}</span>
            <div class="options">
                <button (click)="goToProfilePage(user)" >Profile</button>
                <button (click)="goToUserPhotos(user)">Photos</button>
            </div>
        </div>
    </div>
</div>
                
