<div class="register container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header fw-bold custom-header text-white text-center p-2 fs-2">Pixly</div>
                <div class="card-body mt-2">
                    <h4 class="text-start fw-medium">Join</h4>
                    <p class="text-start m-0 small">Already a member? <a routerLink="/login">Sign in</a></p>
                    
                    <form [formGroup]="frmSignup" (submit)="submit()">
                        <!-- First Name Field -->
                        <div class="mb-1">
                            <label for="firstName" [ngClass]="frmSignup.controls['firstName'].invalid ? 'text-danger' : ''"></label>
                            <input id="firstName" formControlName="firstName" type="text" class="form-control" 
                                [ngClass]="frmSignup.controls['firstName'].invalid ? 'is-invalid' : ''" 
                                placeholder="First Name" required>
                                <div class="mt-1">
                                  <div class="text-danger small" *ngIf="frmSignup.controls['firstName'].hasError('required')">First Name is Required!</div>
                                  <div class="text-danger small" *ngIf="frmSignup.controls['firstName'].hasError('minlength')">Must be at least 2 characters</div>
                                  <div class="text-danger small" *ngIf="frmSignup.controls['firstName'].hasError('maxlength')">First Name is limited to 20 characters</div>
                               </div>
                        </div>
  
                        <!-- Last Name Field -->
                        <div class="mb-1">
                            <label for="lastName" [ngClass]="frmSignup.controls['lastName'].invalid ? 'text-danger' : ''"></label>
                            <input id="lastName" formControlName="lastName" type="text" class="form-control" 
                                [ngClass]="frmSignup.controls['lastName'].invalid ? 'is-invalid' : ''" 
                                placeholder="Last Name" required>
                                <div class="mt-1">
                                  <div class="text-danger small" *ngIf="frmSignup.controls['lastName'].hasError('required')">Last Name is Required!</div>
                                  <div class="text-danger small" *ngIf="frmSignup.controls['lastName'].hasError('minlength')">Must be at least 2 characters</div>
                                  <div class="text-danger small" *ngIf="frmSignup.controls['lastName'].hasError('maxlength')">Last Name is limited to 20 characters</div>
                                </div>
                        </div>
  
                        <!-- Username Field -->
                        <div class="mb-1">
                          <label for="username" [ngClass]="frmSignup.controls['username'].invalid ? 'text-danger' : ''"></label>
                          <input id="username" formControlName="username" type="text" class="form-control" 
                              [ngClass]="frmSignup.controls['username'].invalid ? 'is-invalid' : ''" 
                              placeholder="Username" required>
                              <div class="mt-1">
                                  <div class="text-danger small" *ngIf="frmSignup.controls['username'].hasError('required')">Username is Required!</div>
                                  <div class="text-danger small" *ngIf="frmSignup.controls['username'].hasError('minlength')">Must be at least 5 characters</div>
                                  <div class="text-danger small" *ngIf="frmSignup.controls['username'].hasError('maxlength')">Username is limited to 20 characters</div>
                              </div>
                      </div>
  
                        <!-- Email Field -->
                        <div class="mb-1">
                            <label for="email" [ngClass]="frmSignup.controls['email'].invalid ? 'text-danger' : ''"></label>
                            <input id="email" formControlName="email" type="email" class="form-control" [ngClass]="frmSignup.controls['email'].invalid ? 'is-invalid' : ''" placeholder="Email">
                            <div class="text-danger small" *ngIf="frmSignup.controls['email'].hasError('required')">Email is Required!</div>
                            <div class="text-danger small" *ngIf="frmSignup.controls['email'].hasError('email')">Enter a valid email address!</div>
                        </div>
  
                        <!-- Password Field -->
                        <div class="mb-1">
                            <label for="password" [ngClass]="frmSignup.controls['password'].invalid ? 'text-danger' : ''"></label>
                            <div class="input-group">
                                <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control" 
                                    [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''" placeholder="Password">
                                <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                                    <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                                </button>
                            </div>
                            <div class="text-danger small" *ngIf="frmSignup.controls['password'].hasError('required')">Password is Required!</div>
                            <div class="mt-1">
                                <div class="text-danger small" *ngIf="frmSignup.controls['password'].hasError('minlength')">Must be at least 8 characters</div>
                                <div class="text-danger small" *ngIf="frmSignup.controls['password'].hasError('hasNumber')">Must contain at least 1 number</div>
                                <div class="text-danger small" *ngIf="frmSignup.controls['password'].hasError('hasCapitalCase')">Must contain at least 1 capital letter</div>
                                <div class="text-danger small" *ngIf="frmSignup.controls['password'].hasError('hasSmallCase')">Must contain at least 1 lowercase letter</div>
                                <div class="text-danger small" *ngIf="frmSignup.controls['password'].hasError('hasSpecialCharacters')">Must contain at least 1 special character</div>
                            </div>
                        </div>
  
                       <!-- Confirm Password Field -->
                        <div class="mb-4">
                            <label for="confirmPassword" [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'text-danger' : ''"></label>
                            <div class="input-group">
                                <input id="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" 
                                       class="form-control" 
                                       [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''" 
                                       placeholder="Confirm Password">
                                <button type="button" class="btn btn-outline-secondary" (click)="toggleConfirmPasswordVisibility()">
                                    <i [class]="showConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                                </button>
                            </div>
                            <div class="text-danger small" *ngIf="frmSignup.errors?.['NoPasswordMatch']">Passwords do not match</div>
                        </div>                        
  
                        <!-- Submit Button -->
                        <div class="mb-3">
                            <button [disabled]="frmSignup.invalid" type="submit" class="w-100 fw-bold p-2">Sign Up</button>
                        </div>
  
                         <!-- Terms and Conditions -->
                         <div class="text-center small">
                            <p class="small">By joining Pixly, you accept our <a class="pixly">Privacy Policy</a> (including Use of Cookies and Other Technologies) and <a class="pixly">Terms of Use</a>.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  