
<div class="container" style="text-align: center;">
    <app-navigation></app-navigation>

    <div class="explore-new-photos" *ngIf="currentUrl.includes('new-posts')">
        <h3>Emphasis on Responsibility and Professionalism</h3>
        <span>Your role as an administrator is crucial to maintaining the quality of our platform. You are expected to carefully review each photograph, ensuring it meets our standards for quality, licensing, and relevance. Only approved photographs will be made available to users on the platform."
            This approach emphasizes the importance of quality, licensing, and the responsibility that administrators have when approving content, which is crucial for professional platforms like Pixly.</span>
    </div>

    <div *ngIf="currentUrl.includes('gallery')" class="user-photo">
        <h3 style="text-align: left;">{{username}}'s photos</h3>
    </div>

<app-gallery></app-gallery>
</div>