
<div class="options" *ngIf="currentUrl.includes('search')">
	<div class="container">
		<div class="info">
			<div (click)="selectOption('photos')" class="info-option" [ngClass]="selectedOption === 'photos' ? 'active' : '' ">
				<span>Photos</span>
			</div>
			<div (click)="selectOption('users')" class="info-option" [ngClass]="selectedOption === 'users' ? 'active' : '' ">
				<span>Users</span>
			</div>
		</div>

		<div class="filter-select" *ngIf="!displayUsersComponent" >
			<div class="dropdown-item" (click)="toggleMoreFilterDropdown()">	
				<a (click)="$event.preventDefault()">Filters</a>
			</div>
			<div class="dropdown" (click)="toggleFilterDropdown()" >
				<div class="dropdown-item">
					<a (click)="$event.preventDefault()">{{currentPopularity}}</a>
				</div>
				<div class="dropdown-content" *ngIf="isFilterDropdownOpen">
					<div class="dropdown-item" (click)="selectPopularity('Trending')">
						<a (click)="$event.preventDefault()">Trending</a>
					</div>
					<div class="dropdown-item" (click)="selectPopularity('Latest')">
						<a (click)="$event.preventDefault()">Latest</a>
					</div>
				</div>
			</div>
		</div>

		<div class="more-filters" *ngIf="isMoreFiltersDropdownOpen">
			<div class="dropdown" (click)="toggleMoreFiltersDropdown('orientations')">
				<div class="dropdown-item">
					<a (click)="$event.preventDefault()">{{currentOrientation}}</a>
				</div>
				<div class="dropdown-content" *ngIf="openMoreFiltersDropdown === 'orientations'" >
					<div class="dropdown-item" (click)="selectOrientation('All Orientations')">
						<a (click)="$event.preventDefault()">All Orientations</a>
					</div>
					<div class="dropdown-item" (click)="selectOrientation('Landscape')">
						<a (click)="$event.preventDefault()">Landscape</a>
					</div>
					<div class="dropdown-item" (click)="selectOrientation('Portrait')">
						<a (click)="$event.preventDefault()">Portrait</a>
					</div>
					<div class="dropdown-item" (click)="selectOrientation('Square')">
						<a (click)="$event.preventDefault()">Square</a>
					</div>
				</div>
			</div>
			<div class="dropdown" (click)="toggleMoreFiltersDropdown('sizes')">
				<div class="dropdown-item">
					<a (click)="$event.preventDefault()">{{currentSize}}</a>
				</div>
				<div class="dropdown-content" *ngIf="openMoreFiltersDropdown === 'sizes'" >
					<div class="dropdown-item" (click)="selectSize('All Sizes')">
						<a (click)="$event.preventDefault()">All Sizes</a>
					</div>
					<div class="dropdown-item" (click)="selectSize('Large')">
						<a (click)="$event.preventDefault()">Large</a>
					</div>
					<div class="dropdown-item" (click)="selectSize('Medium')">
						<a (click)="$event.preventDefault()">Medium</a>
					</div>
					<div class="dropdown-item" (click)="selectSize('Small')">
						<a (click)="$event.preventDefault()">Small</a>
					</div>
				</div>
			</div>
			<div class="dropdown"  (click)="toggleMoreFiltersDropdown('color')">
				<div class="dropdown-item colors">
					<div class="color" [style.backgroundColor]="selectedColor" style="padding:10px; border-radius: 50%;" ></div>
					<input
						style="font-size: small;" 
						(keyup)="validateHexCode() === true ? updateQueryString() : null"
						type="text" 
						[(ngModel)]="selectedColor" 
						placeholder="Enter hex color" 
						(input)="validateHexCode()"
						[ngStyle]="{'color': validateHexCode() ? 'black' : 'red'}"
					/>
				</div>
				<div class="dropdown-content" *ngIf="openMoreFiltersDropdown === 'color'" >
					<div class="color-palette">
						<div 
						  *ngFor="let color of predefinedColors" 
						  class="color-box" 
						  [style.background-color]="color" 
						  (click)="setColor(color)" 
						  [title]="color">
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" *ngIf="!displayUsersComponent">
		<div class="box" *ngFor="let photo of photos; let i = index" (click)="openPhotoDetail(photo)">
			<img
			[attr.loading]="i === 0 ? 'eager' : 'lazy'"
			src="{{ photo.url }}"
			>
			<div class="layout">
				<div class="layout-content" *ngIf="!isAdminPage">
					<div class="row-1" >
						<button 
							class="like-button fs-5 p-0 bg-transparent" 
							(click)="toggleLike(photo, $event)"  
							[ngClass]="{'liked': photo.isLiked}">
							<i 
								class="fa" 
								[ngClass]="photo.isLiked ? 'fa-solid fa-heart liked' : 'fa-solid fa-heart not-liked'">
							</i>
						</button>

						<button class="collect-button bg-transparent fs-5">
							<i class="fa-regular fa-bookmark text-white"></i>
						</button>
					</div>
					
					<div class="row-2">
						<div class="user">
							<img [src]="photo.user?.profileImgUrl || 'assets/img/big_user_dflt.png'" 
								width="40px" 
								height="40px" 
								class="rounded-circle profile-img"
							/>
							<div class="user-name">
								<span>{{ photo.user?.username || 'Unknown User' }}</span>
							</div>
						</div>
						<div class="download-button">
							<i class="fa-solid fa-download"></i>
							<span>Download</span>
						</div>
					</div>
				</div>
			</div>
		</div>

</div>


<div style="margin-top: 20px;" *ngIf="displayUsersComponent">
	<app-display-users></app-display-users>
</div>



