<div class="options">
	<div class="container filter">
		<select name="filter" id="" (change)="filter($event)" >
			<option selected value="trending">Trending</option>
			<option value="latest">Latest</option>
		</select>
	</div>
</div>
<div class="container">
		<div class="box" *ngFor="let photo of photos; let i = index">
			<img
			[attr.loading]="i === 0 ? 'eager' : 'lazy'"
			src="{{ photo.url }}"
			>
			<div class="layout">
				<div class="layout-content">
					<div class="row-1">
						<button class="like-button">
							<i class="fa-regular fa-heart text-secondary"></i>
						</button>
						<button class="collect-button">
							<i class="fa-regular fa-bookmark text-secondary"></i>
						</button>
					</div>
					<div class="row-2">
						<div class="user">
							<img [src]="photo.user?.profileImgUrl || 'assets/img/user_dflt.png'" 
								width="40px" 
								height="40px" 
								class="rounded-circle img-fluid profile-img"
							/>
							<div class="user-name">
								<span>{{ photo.user?.username || 'Unknown User' }}</span>
							</div>
						</div>
						<div class="download-button">
							<i class="fa-solid fa-download"></i>
							<span>Download</span>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

