<div class="container p-3">
  <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="card">
              <div class="card-header fw-bold custom-header text-white text-center p-2 fs-3">Pixly</div>
              <div class="card-body">
                  <h4 class="text-start fw-medium">Sign in</h4>
                  <p class="text-start m-0 small mb-3">Not a member? <a routerLink="/auth/register">Join Pixly</a></p>

                  <form [formGroup]="frmLogin" (submit)="submit()">
                      <!-- Email Field -->
                      <div class="mb-4">
                          <input 
                            id="email" 
                            formControlName="email" 
                            type="email" 
                            class="form-control" 
                            [ngClass]="{'is-invalid': frmLogin.controls['email'].invalid && (frmLogin.controls['email'].touched || frmLogin.controls['email'].dirty)}" 
                            placeholder="Email" 
                            required 
                          />
                          <div class="invalid-feedback">
                            <span *ngIf="frmLogin.controls['email'].hasError('required')">Required!</span>
                            <span *ngIf="frmLogin.controls['email'].hasError('email')">Enter a valid email address!</span>
                          </div>
                      </div>

                      <!-- Password Field -->
                      <div class="mb-3">
                        <div class="input-group">
                          <input
                            id="password"
                            [type]="showPassword ? 'text' : 'password'"
                            formControlName="password"
                            class="form-control"
                            [ngClass]="{'is-invalid': frmLogin.controls['password'].invalid && (frmLogin.controls['password'].touched || frmLogin.controls['password'].dirty) || loginError}"
                            placeholder="Password"
                            required
                          />
                          <button type="button" class="p-2" (click)="togglePasswordVisibility()">
                            <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                          </button>
                          <div class="invalid-feedback">
                            <span *ngIf="frmLogin.controls['password'].hasError('required')">Required!</span>
                            <span *ngIf="loginError">{{loginError}}</span>
                          </div>
                        </div>
                      </div>

                      <!-- Submit Button -->
                      <div class="mb-3">
                        <button
                          [disabled]="frmLogin.invalid || isLoading"
                          type="submit"
                          class="w-100 fw-bold p-2 d-flex align-items-center justify-content-center"
                        >
                          <span class="text-white" *ngIf="!isLoading">Login</span>
                          <div *ngIf="isLoading" class="spinner-border spinner-border-sm text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                        </button>
                      </div>

                      <p class="text-center small"><a routerLink="">Forgot your password?</a></p>                       
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

