
.container{
    margin-bottom: 20px;
}

h4{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}

span{
    width: 100%;
    text-align: center;
    display: block;
    font-size: medium;
    font-weight: 500;
    letter-spacing: 0.5px;
    color:#7c7c7c
}



@media (max-width: 900px) {
    h4,h6{
        margin: 4% 0 4% 0;
    }

}