
  <div class="container">
    <div class="row-1">
        <div class="box">
            <img src="assets/img/nature.jpg" />
            <div class="layout">
              <span>Nature images</span>
            </div>
            <div class="gradient"></div>
        </div>
        <div class="box">
            <img src="assets/img/career.jpg" />
            <div class="layout">
              <span>Career images</span>
            </div>
            <div class="gradient"></div>
          </div>
          <div class="box">
            <img src="assets/img/lifestyle.jpg" />
            <div class="layout">
              <span>Lifestyle images</span>
            </div>
            <div class="gradient"></div>
          </div>
          <div class="box">
            <img src="assets/img/holiday.jpg" alt="" />
            <div class="layout">
              <span>Holiday images</span>
            </div>
            <div class="gradient"></div>
          </div>
    </div>

    <div class="row-2">
      <div class="box">
        <img src="assets/img/fashion.jpg" />
        <div class="layout">
          <span>Fashion stock photos</span>
        </div>
        <div class="gradient"></div>
      </div>
      <div class="box">
        <img src="assets/img/vintage.jpg" />
        <div class="layout">
          <span>Vintage stock photos</span>
        </div>
        <div class="gradient"></div>
      </div>
      <div class="box">
        <img src="assets/img/foodanddrinks.jpg" alt="" />
        <div class="layout">
          <span>Food and drinks stock photos</span>
        </div>
        <div class="gradient"></div>
      </div>
    </div>

    <div class="row-1">
      <div class="box">
          <img src="assets/img/medical.jpg" />
          <div class="layout">
            <span>Medical stock photos</span>
          </div>
          <div class="gradient"></div>
      </div>
      <div class="box">
          <img src="assets/img/science.jpg" />
          <div class="layout">
            <span>Science photos</span>
          </div>
          <div class="gradient"></div>
        </div>
        <div class="box">
          <img src="assets/img/business.jpg" />
          <div class="layout">
            <span>Business photos</span>
          </div>
          <div class="gradient"></div>
        </div>
        <div class="box">
          <img src="assets/img/family.jpg" alt="" />
          <div class="layout">
            <span>Family stock photos</span>
          </div>
          <div class="gradient"></div>
        </div>
  </div>

  </div>