<div class="container">
  <div class="d-flex flex-column align-items-center">
    <!-- Avatar -->
    <div class="profile-avatar mb-3">
      <img src="assets/img/big_user_dflt.png" alt="" style="height: 130px; width: 130px;">
    </div>

    <!-- User Info -->
    <h1 class="profile-name mt-3">{{ profileUser?.firstName }} {{ profileUser?.lastName }}</h1>

    <!-- Edit Profile Button -->
    <div *ngIf="isOwnProfile; else otherProfile">
      <button class="mt-3 mb-3 text-white py-3" routerLink="/auth/edit-profile">
        <a class="text-white"><i class="fa-solid fa-pen text-center me-2"></i>Edit Profile</a>
      </button>
    </div>

    <!-- Alternative Text for Other User -->
    <ng-template #otherProfile>
      <p class="text-muted mt-3">This is {{ profileUser?.username }}'s profile.</p>
    </ng-template>

    <!-- Stats -->
    <div class="d-flex flex-row align-items-center gap-5 mt-3 text-center">
      <div>
        <h6 class="mb-0">Total Views</h6>
        <p class="text-muted text-center">0</p>
      </div>
      <div>
        <h6 class="mb-0">Likes</h6>
        <p class="text-muted text-center">682.5K</p>
      </div>
      <div>
        <h6 class="mb-0">Downloads</h6>
        <p class="text-muted text-center">18.3K</p>
      </div>
    </div>

    <!-- Navigation Tabs -->
    <div class="d-flex justify-content-center gap-4 my-4">
      <a
        *ngFor="let item of navItems"
        [ngClass]="{ active: item.active }"
        class="nav-item text-decoration-none text-muted"
        (click)="setActive(item, $event)"
      >
        <span class="fw-bold p-2">{{ item.label }}</span>
      </a>
    </div>
  </div>
</div>
