.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
}


.overlay{
    background-color: #f5eedc;
    height: auto;
    width: 100%;
}


button{
    background-color: rgb(255, 0, 0, 0.6);
    color: white;
    margin-top: 40px;
}

button:hover{
    background-color: rgb(255, 0, 0);
    transition: 1s;
}

.ai{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    font-size: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

h3{
    text-align: center;
}


/* @media (max-width: 900px){

    .hero-section{
        height: 70vh;
    }


    h1{
        font-size: 20px;
    }
} */