.hero-section {
    position: relative; /* Dodano da overlay bude vezan za ovu sekciju */
    width: 100%;
    height: 500px; /* Prilagodite visinu prema potrebama */
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Osigurava da slika pokriva celu sekciju */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Poluprozirna pozadina */
    z-index: 1; /* Obezbeđuje da overlay bude iznad slike */
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centriranje sadržaja unutar container-a */
    text-align: center;
    z-index: 2; /* Postavljanje sadržaja iznad overlay-a */
    color: white; /* Boja teksta */
    width: 100%;
    padding: 20px;
}

.ai {
    background-color: black;
    color: white;
    border-radius: 25px;
    font-size: 12px;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
}

h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

span {
    font-size: 16px;
    margin-bottom: 25px;
    display: block;
}

button {
    background-color: rgb(255, 0, 0, 0.6);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

button:hover {
    background-color: rgb(255, 0, 0);
    transition: 0.5s;
}

@media (max-width: 900px) {
    .ai {
        display: none;
    }

    .container {
        padding: 5%;
    }
}

@media (max-width: 500px) {
    h3 {
        font-size: 24px;
    }

    span {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
