<div class="overview">
    <div class="users item">
        <i class="fa-solid fa-users  fa-3x"></i>
        <div class="info">
            <span>All users</span>
            <span style="font-weight: 200;">54</span>
        </div>
    </div>
    <div  class="posts item">
        <i class="fa-regular fa-images  fa-3x"></i>
        <div class="info">
            <span>New posts</span>
            <span class="info-number" style="font-weight: 200;">125</span>
        </div>
    </div>
    <div class="sales item">
        <i class="fa-solid fa-chart-line fa-3x"></i>
        <div class="info">
            <span>All sales</span>
            <span style="font-weight: 200;">125</span>
        </div>
    </div>
    <div class="users item">
        <i class="fa-solid fa-users  fa-3x"></i>
        <div class="info">
            <span>Visitors</span>
            <span style="font-weight: 200;">1344</span>
        </div>
    </div>
</div>

