.overview{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    border: 1px solid #ccc;
}

.header{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    color: #7c7c7c;
}

.header .menu-item{
    display: flex;
    justify-content: center;
    width: 30%;
    border: none;
    transition: 0.3 ease;
    cursor: pointer;
}

.menu-item.active{
  color: #02A388; /* Boja kada je aktivna */
  font-weight: bold;
}

.items{
    border-top: 1px solid #ccc;
    display: flex;
}

.item{
    display: flex; 
    align-items: center;
    width: 20%;
    justify-content: center;
    padding: 20px 0;
    border-right: 1px solid #ccc;
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}